<!DOCTYPE html>
<html>
	<head>
		<title>Miku Coffee Shop</title>
		<meta  name = "viewport" content = "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">	
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styles.css">
		<script type="text/javascript" src="/webix/codebase/webix.min.js"></script>
				<script type="text/javascript" src="/webix/codebase/kanban.js"></script>
				
		<link rel="stylesheet" type="text/css" href="webix/codebase/skins/mini.min.css">
<link rel="stylesheet" type="text/css" href="/webix/codebase/kanban.css">
	<script type="text/javascript">


   function detectmob() {
   if(window.innerWidth <= 800 && window.innerHeight <= 600) {
     return true;
   } else {
     return false;
   }

	}

const doptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
const formatdate = webix.Date.dateToStr("%Y-%m-%d");
const tglhariini = new Date();
const tgli = tglhariini.toLocaleDateString("id-US",doptions);
const tgliso = formatdate(tglhariini);



const loginsession = JSON.parse(webix.storage.cookie.get("login")) || {token : ""};

let logintoken = {
                   "Authorization": "Bearer " + loginsession.token
                 } ;

webix.proxy.myProxy = webix.extend({
    load:function(view, callback){
			   webix.ajax().headers({
            "Authorization": "Bearer " + loginsession.token
         }).get(this.source).then(function(data){ 
             var records = data.json();
					   webix.ajax.$callback(view, callback, "", records, -1);
         }); 
     },
		 save:function(view, update, dp, callback){       
      switch(update.operation){
			 case "insert":
			      delete update.data.id;
			      webix.ajax().headers(logintoken).post(this.source, update.data, callback);
			      break;
			 case "update":
			      webix.ajax().headers(logintoken).put(this.source + "/" + update.id , update.data, callback).then(function(data)
						{
							view.load(this.source);
						}
						);
			      break;
			 case "delete":
			      webix.ajax().headers(logintoken).del(this.source + "/" + update.id);
						console.log('deleted');
						break;			
			 default:
			       webix.message(update.operation);
		  }	 
	  }
}, webix.proxy.rest);


webix.ready(function(){
	 
     document.getElementById("leftmenu").hidden = detectmob();
   
	 if( !(loginsession == "undefined") )
   {
    webix.attachEvent("onBeforeAjax", 
 	  function(mode, url, data, request, headers, files, promise)
	 {
  	headers["Authorization"] = "Bearer " + loginsession.token;
	 });

	}else{
		alert( 'no auth detected ');
	  console.log(loginsession);
	}

});

	</script>

	</head>
	<body>
		
		<h1 class='header'>
			<a href="/">	
			Miku Coffee
			</a>
		</h1>
		<div class='mainarea'>
			<ul class='left' id="leftmenu">
{{#each menu}}
<li><span>{{value}}</span><ul>
	{{#each data}}
	<li class='{{css}}'><a href='{{href}}'>{{value}}</a></li>
	{{/each}}
</ul></li>
{{/each}}
			</ul>
			<content id="right" class="right">{{{body}}}</content>
		</div>
	</body>
</html>